<% content_for :title do %>
Filmes mais Votados
<% end -%>

<% content_for :content do %>
<br />

    <div class="breadcrumb">
        <strong>Filmes//TC</strong>
    </div>

    <br />

    <div class="row">
        <div class="col-6">
            <a href="/filmes"> Listagem de Filmes </a> &nbsp; 
            <a href="/filmes_votados"> Filmes Mais Votados </a>
        </div>
        <div class="col-6 text-right"><a href="/sair"> Sair </a></div>
    </div>

    <hr />

    <h1 class="text-center">Filmes Mais Votados</h1>

    <br />

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Nome</th>
                <th class="text-center">Episódio</th>
                <th class="text-center">Diretor</th>
                <th class="text-center">Ano</th>
                <th class="text-center">Like</th>
                <th class="text-center">Dislike</th>
                <th class="text-center">Detalhes</th>
            </tr>
        </thead>
        <tbody>
            <% @filmes.each_with_index do |filme,index|%>
                <tr>
                    <td><%= filme[:name]%></td>
                    <td class="text-center"><%= filme[:episode]%></td>
                    <td class="text-center"><%= filme[:director]%></td>
                    <td class="text-center"><%= filme[:year]%></td>
                    <td class="text-center"><%= filme[:like]%></td>
                    <td class="text-center"><%= filme[:dislike]%></td>
                    <td>
                        <% if index < 2 %>
                            
                            <a class="btn btn-default" href="/detalhes/<%= filme[:id] %>" role="button">Detalhes</a>
                            
                        <% end %>
                    </td>
                </tr>
            <% end -%>
        </tbody>
    </table>
<% end -%>
<% render file: "layouts/application" %>